{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}" type="text/css" />
{% endblock %} 

{% block content %}

    <h1></h1>
    {% if post %}
    <h2> Author </h2>
    <p> {{ post.user }}</p>
    
    {% if post.image %}
    <div>
        <h2>Photo</h2>
        <img src="{{ post.image.url }}"></img>
    </div>
    {% endif %}
    <h2> Albumart </h2>
    <img src = "{{post.albumart_link}}" />
    
    <h2> Music </h2>
            <div>
                <audio controls="controls">
                  <source src="{{ post.song_official.url }}" type="audio/mpeg"  autostart="true" />
                Your browser does not support the audio element.
                </audio>
            </div>
    <p> {{ post.music_official}} </p>
    
    <h2> Artist </h2>
    <p>{{ post.artist_official }}</p>
    
    <h2> Album </h2>
    <p>{{ post.album_official }}</p>
    
    <h1> Title </h1>
    <h2>{{post.title}}</h2> <br><br><br>
    <h2> Tag </h2>
    <p>{{post.tag}}</p> <br><br><br>
    <h2> Body </h2>
    <p>{{post.body}}</p> <br><br><br>
    <h2> Lyric </h2>
    <p>{{ post.lyric_official }}</p> <br><br><br>
    <h2> Created_at </h2> 
    <p>{{post.created_at}}</p> <br><br><br>
    {% else %}
    <p>No post</p>
    {% endif %}
    
    <div>
        좋아요 수 : {{ post.liked_users.count }}
    </div>
    {% if user.is_authenticated %}
    {% if user in post.liked_users.all %}
        <form action = "{% url 'musictest:like' post.id %}" method = "POST">
            {% csrf_token %}
            <button type = "submit" class = "btn btn-secondary">Like!</button>
        </form>
    {% else %}
        <form action = "{% url 'musictest:like' post.id %}" method = "POST">
            {% csrf_token %}
            <button type = "submit" class = "btn btn-primary">Like!</button>
        </form>
    {% endif %}
    {% endif %}
   
        <a href="{% url 'musictest:index' %}">list</a>
    {% if user == post.user %}
    <a href="{% url 'musictest:edit' post.id %}">Edit</a>
    <a href="{% url 'musictest:delete' post.id %}">Delete</a>
    {% endif %}
 
{% endblock %}