<!--{% extends 'base.html' %}-->
<!--{% load static %}-->
<!--{% block scripts %}-->
<!--{% endblock %}-->
<!--{% block style %}-->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'audioplayer.css' %}" />
<!--{% endblock %} -->
<!--{% block content %}-->
{% if post %}
<br><br><br><br><br><br><br>
    <p> {{ post.user }}</p>
<br><br><br>
<div>
    <span>
    <img src = "{{post.albumart_official}}" height="500px", width="500px"/><br>
    {{ post.music_official}}<br>
    {{ post.artist_official }}<br>
    {{ post.album_official }}</span>
</div>
<div id="wrapper" style="margin-top:100px">
		<audio preload="auto" controls>
					<source src="https://tympanus.net/Development/AudioPlayer/audio/BlueDucks_FourFlossFiveSix.mp3">
		</audio>
</div>
<footer>
		<script src="{% static 'jquery.js' %}"></script>
		<script src="{% static 'audioplayer.js' %}"></script>
		<script>
			$(function() {
				$('audio').audioPlayer();
			});
		</script>
</footer>
    <h1> Title </h1>
    <h2>{{post.title}}</h2> <br><br><br>
    <h2> Tag </h2>
    <p>{{post.tag}}</p> <br><br><br>
    <h2> Body </h2>
    <p>{{post.body}}</p> <br><br><br>
    <h2> Lyric </h2>
    <p>{{ post.lyric_official }}</p> <br><br><br>
    <h2> Created_at </h2> 
    <p>{{post.created_at}}</p> <br><br><br>
    {% else %}
    <p>No post</p>
    {% endif %}
    
    {% if user.is_authenticated %}
    {% if user in post.liked_users.all %}
        <form action = "{% url 'musictest:like' post.id %}" method = "POST">
            {% csrf_token %}
            <button type = "submit" class = "btn btn-secondary">Like!</button> {{ post.liked_users.count }} liked
        </form>
    {% else %}
        <form action = "{% url 'musictest:like' post.id %}" method = "POST">
            {% csrf_token %}
            <button type = "submit" class = "btn btn-primary">Like!</button>
        </form>
    {% endif %}
    {% endif %}
   
        <a href="{% url 'musictest:index' %}">list</a>
    {% if user == post.user %}
    <a href="{% url 'musictest:edit' post.id %}">Edit</a>
    <a href="{% url 'musictest:delete' post.id %}">Delete</a>
    {% endif %}
    

<!--{% endblock %}-->
