{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}" type="text/css" />
{% endblock %} 

{% block content %}
<div class = "container" >
    <h1>My Page</h1>
    
    <!-- 본인 페이지 접속 시, 게시글 -->
    {% if user.is_authenticated %}
        <div>Follower : {{ post.followers }}</div>
        <h2> ID: {{ user.get_username }} </h2>
            <h3>Music</h3>    
            {% if post %}
                {% for post in posts %}
                <p><a href="{% url 'musictest:detail' post.id %}">{{ post.music_official }}</a></p>
                {% endfor %}
            {% else %}
                <p>작성한 음악일기가 없습니다(내건데 없어)</p>
                <a href = "{% url 'musictest:new1_search' %}"> 새 일기 작성하기</a>
            {% endif %}

    {% endif %}
    
</div>
{% endblock %}
