{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}" type="text/css" />
{% endblock %} 

{% block content %}
<h1> What Are You Thinking? </h1>
<h2> Write Your Musiary Tag</h2>
<div>
    <form  action="{% url 'musictest:new9_write' %}" method ="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="tag" placeholder="Ex) #기쁠때 #피곤할때 #여행갈때"/>
        <!--밑에는 계속 정보 이어갑니다..-->
        <input type = 'hidden'  name='title' value ="{{title}}">
        <input type = 'hidden'  name='artist_official' value ="{{artist_official}}">
        <input type = 'hidden' name='music_official' value="{{music_official}}">
        <input type = 'hidden'  name='album_official' value ="{{album_official}}">
        <input type = 'hidden'  name='lyric_official' value = "{{lyric_official}}">
        <input type = 'hidden' name='albumart_official' value = "{{albumart_official}}">
        <button type="submit" class="btn btn-primary mb-4"> Next </button>
    </form>
</div>
<br>

{% endblock %}